<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Notes by Matt Stubbs</title>
        <link rel="stylesheet" href="/tufte.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        {% block rss %}
          <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
        {% endblock %}
          <style>
          h1, h2, h3 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
          }

          pre code { padding-top: 1.25rem; padding-bottom: 1.25rem;}
          </style>
    </head>

    <body>
      <article>
    <h1 >Notes</h1>
    <p class="subtitle">by Matt Stubbs</h1>
</article>
            <main class="container">{% block content %} {% endblock %}</main>
    </body>
</html>
