{% extends "base.html" %} {% block content %}
{% include "includes/header.html" %}

<article>
    <section>
        {% block heading %}

        <h1 class="title">{{ page.title }}</h1>
        <p class="subtitle">
            <strong>{{ page.date | date(format="%d %B %Y") }}</strong>
        </p>

        {% if page.taxonomies.tags %}
        <!-- Make the following ul list items appear inline -->
        <ul style="list-style-type: none; padding: 0; margin: 0">
            {% for tag in page.taxonomies.tags %}

            <li style="display: inline-block; padding-right: 0.334rem">
                <a href=""><em>#{{ tag }}</em></a>
            </li>

            {% endfor %}
        </ul>
        {% endif %} {% endblock heeading %} {{ page.content | safe }}
    </section>
</article>

{% endblock content %}
